<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<div th:replace="header"></div>
<div th:replace="menu"></div>


<th:block th:if="${cartForm == null || cartForm.productList == null || cartForm.productList.empty}">
    <div class="text-center">
        <h3>There is no items in Cart</h3>
        <a th:href="@{/products/all}">Back to product list</a>
    </div>
</th:block>

<th:block th:if="${cartForm != null && cartForm.productList != null && !cartForm.productList.empty}">
    <div class="container col-md-offset-2">
        <h2>Cart</h2>
        <br/>
        <div th:each="line, varStatus : ${cartForm.productList}">
            <ul>
                <li><img class="product-image"
                         th:src="@{|/productImage?id=${line.product.id}|}"/>
                </li>
                <li>Id: <span th:utext="${line.product.id}"></span></li>
                <li>Name: <span th:utext="${line.product.name}"></span></li>
                <li>Quantity:
                    <input
                            th:name="|productList[${varStatus.index}].quantity|"
                            th:value="${line.quantity}"/>


                </li>
                <li>Price:
                    <span class="price"
                          th:utext="${#numbers.formatDecimal(line.price,3,2,'COMMA')}">
                        </span>
                </li>
                <li>
                    <a th:href="@{|/cart/${line.product.id}/remove|}">
                        Delete
                    </a>
                </li>
            </ul>
        </div>


    </div>
    <div class="container col-md-offset-2">
        <div class="row col-lg-6 col-sm-6">
            <p><a class="navi-item"
                  th:href="@{/orders/create}">Checkout</a>
                Total:
                <span class="totalPrice"
                      th:text="${#numbers.formatDecimal(cartForm.getPriceTotal(),3,2,'COMMA')}">
                        </span>

            </p>

            <br/>
            <a class="navi-item" th:href="@{/products/all}">Back to product list</a>
        </div>
    </div>

</th:block>
</body>
</html>