<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header"></div>
<div th:replace="menu"></div>
<div class="col-md-offset-2 col-sm-8">
    <h2>Products</h2>
    <form method="get">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-4" th:each="product: ${products}">
                    <ul>
                        <li><img th:src="@{|/product.image?id=${product.id}|}"/></li>
                        <li>Code: <span th:utext="${product.id}"></span></li>
                        <li>Name: <span th:utext="${product.name}"></span></li>
                        <li>Price: <span th:utext="${product.price}"></span></li>
                        <li>Description: <span th:utext="${product.description}"></span></li>
                        <li>
                            <a th:href="@{|/products/${product.id}/buyProduct|}">Buy Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>